name: OSV-Scanner

on:
  pull_request:
    branches: ['main']
  merge_group:
    branches: ['main']
  schedule:
    - cron: '18 11 * * 4'
  push:
    branches: ['main', 'dev']

permissions:
  actions: read
  security-events: write
  contents: read

jobs:
  scan-pr:
    if: ${{ github.event_name == 'pull_request' || github.event_name == 'merge_group' }}
    uses: 'google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@375a0e8ebdc98e99b02ac4338a724f5750f21213' # v2.3.1

  scan-scheduled:
    if: ${{ github.event_name == 'push' || github.event_name == 'schedule' }}
    uses: 'google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@2a387edfbe02a11d856b89172f6e978100177eb4' # v2.3.2
